<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>saveCarNumber</display-name>
    <servlet-name>saveCarNumber</servlet-name>
    <servlet-class>dbtest.saveCarNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveCarNumber</servlet-name>
    <url-pattern>/saveCarNumber</url-pattern>
  </servlet-mapping>
  <display-name>thirdproject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>saveCarNumber1</display-name>
    <servlet-name>saveCarNumber1</servlet-name>
    <servlet-class>thirdproject.saveCarNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveCarNumber1</servlet-name>
    <url-pattern>/saveCarNumber1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReserveParkingServlet</display-name>
    <servlet-name>ReserveParkingServlet</servlet-name>
    <servlet-class>thirdproject.ReserveParkingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveParkingServlet</servlet-name>
    <url-pattern>/ReserveParkingServlet</url-pattern>
  </servlet-mapping>
</web-app>